<% if @kittens.any? %>
    <% @kittens.each do |kitten| %>
    <h1><%= kitten.name %></h1>
    <ul>
        <li><%= "Age: #{kitten.age}" %></li>
        <li><%= "Cuteness: #{kitten.cuteness}" %></li>
        <li><%= "Softness: #{kitten.softness}" %></li>
    </ul>
    <div><%= link_to "See #{kitten.name}!", kitten_path(kitten) %></div>
    <div><%= link_to "Destroy this kitten", kitten_path(kitten), method: :delete %></div>
    <% end %>
<% else %>
    <h1>No Kittens!!!</h1>
<% end %>
<br>

<div><%= link_to "Make a new kitten!", new_kitten_path %></div>