<h1><%= @kitten.name %></h1>

<ul>
    <li><%= "Age: #{@kitten.age}" %></li>
    <li><%= "Cuteness: #{@kitten.cuteness}" %></li>
    <li><%= "Softness: #{@kitten.softness}" %></li>
</ul>

<div><%= link_to "Edit", edit_kitten_path(@kitten) %></div>
<div><%= link_to "Destroy this kitten", kitten_path(@kitten), method: :delete %></div>
<div><%= link_to "See all kittens!", root_path %></div>